APP_NAME=
APP_ENV=
APP_KEY=
APP_DEBUG=
APP_TIMEZONE=
APP_URL=
APP_LOCALE=

DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=
SESSION_LIFETIME=

CACHE_STORE=
CACHE_PREFIX=

FILESYSTEM_DISK=

RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
